
*.xmi

*.launch

*.prefs

*.index

*.dat

*.xml

*.png

*.txt

.metadata/.plugins/org.eclipse.core.resources/.history/6/e078d3017598001512fa8220b2765f55

.metadata/.plugins/org.eclipse.core.resources/.history/4f/7071a69e7298001512fa8220b2765f55

.metadata/.plugins/org.eclipse.core.resources/.history/4f/10f6be277598001512fa8220b2765f55

.metadata/.plugins/org.eclipse.core.resources/.history/66/b05de44f7598001512fa8220b2765f55

.metadata/.plugins/org.eclipse.core.resources/.history/8c/00163b897398001512fa8220b2765f55

.metadata/.plugins/org.eclipse.core.resources/.history/a0/403995e97398001512fa8220b2765f55

.metadata/.plugins/org.eclipse.core.resources/.history/aa/f09066a17498001512fa8220b2765f55

.metadata/.plugins/org.eclipse.core.resources/.history/ab/d04905757398001512fa8220b2765f55

.metadata/.plugins/org.eclipse.core.resources/.history/a8/c095fafb7498001512fa8220b2765f55

.metadata/.plugins/org.eclipse.core.resources/.history/37/50d5bd227598001512fa8220b2765f55

.metadata/.plugins/org.eclipse.core.resources/.history/da/70734c177598001512fa8220b2765f55

.metadata/.plugins/org.eclipse.core.resources/.history/dc/c0f1ea927398001512fa8220b2765f55

.metadata/.plugins/org.eclipse.core.resources/.history/31/70cc9a887598001512fa8220b2765f55

.metadata/.plugins/org.eclipse.core.resources/.history/1e/708c8bc17298001512fa8220b2765f55

.metadata/.lock

.metadata/.log

.metadata/.plugins/org.eclipse.core.resources/.history/bb/507b67a17498001512fa8220b2765f55

*.snap

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

*.ini

Java/.classpath

Java/.project

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

Java/bin/adventOfCode/Dec1stb.class

Java/bin/adventOfCode/Dec1st.class
